*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #017bab;
    padding: 10% 0;
 
}

.cab {
    width: 400px;
    height: 340px;
    background-color: #4e4d4d;
    margin: 0 auto;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
 h2{
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;

}

.cab .sub_contenedor{
    
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
   

}

.btn{
    width: 100%;
    height: 40px;
    background: #017bab;
    border-radius: none ;
    color:white;
    margin-bottom: 16px;

}




